---
import PdfView from "./PdfView.astro";

const { heading, file } = Astro.props;
---

<div class="bg-slate-200 rounded-md">
  <h3 class="text-lg font-medium text-gray-700">{heading}</h3>
  <PdfView file={file} />
</div>
