---
const { file } = Astro.props;
---

<object data={file} type="application/pdf" width="480" height="640">
  <p>
    The website is unable to display the PDF file. Please download it instead.
  </p>
</object>
