---
import BlogCard from "../components/blog/BlogCard.astro";
import BlogGrid from "../layouts/blog/BlogGrid.astro";
import Page from "../layouts/shared/Page.astro";
---

<Page title="Blog">
	<!-- Hero Section -->
	<section class="bg-gradient-to-r from-blue-500 to-teal-500 py-20">
	  <div class="container mx-auto text-center text-white">
		<h1 class="text-5xl font-extrabold leading-tight tracking-tight">Explore Our Latest Insights</h1>
		<p class="mt-4 text-lg font-light">Dive into our blog for fresh perspectives, tips, and stories.</p>
	  </div>
	</section>
  
	<!-- Blog Section -->
	<div class="bg-gray-50 py-20">
	  <div class="container mx-auto px-4">
		  <BlogGrid>
			<BlogCard
			  title="Support Verdant, Support Animals"
			  summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet felis sit amet lorem bibendum."
			  author="Aaron Wedger"
			  lastUpdated="February 5, 2025"
			/>
			<BlogCard
			  title="10 Benefits For Going Vegan"
			  summary="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam imperdiet felis sit amet lorem bibendum."
			  author="Jack Smith"
			  lastUpdated="February 1, 2025"
			/>
			<!-- More BlogCards can go here -->
		  </BlogGrid>
	  </div>
	</div>
</Page>