---
import BlogCard from "../components/blog/BlogCard.astro";
import BlogGrid from "../layouts/blog/BlogGrid.astro";
import Page from "../layouts/shared/Page.astro";
---

<Page title="Blog">
	<div class="p-12">
		<h1 class="text-2xl">Blog</h1>
		<BlogGrid>
			<BlogCard title="Support Verdant, Support Animals" author="Aaron Wedger" />
			<BlogCard title="10 Benefits For Going Vegan" author="Jack Smith" />
		</BlogGrid>
	</div>
</Page>