---
import Page from "../layouts/shared/Page.astro";
---

<Page title="Farm-to-Table">
  <h1 class="text-2xl">Farm to Table</h1>
  <h3>Verdant thrives on our most fundamental value: farm-to-table.</h3>
</Page>