---
import Hero from "../layouts/home/Hero.astro";
import Page from "../layouts/shared/Page.astro";
import SocialMediaCard from "../components/shared/SocialMediaCard.astro";
import Testimonials from "../layouts/home/Testimonials.astro";
---

<Page title="Home">
  <div class="p-12">
    <Hero />
    <Testimonials />
  </div>
</Page>