---
import Page from "../layouts/shared/Page.astro";
---

<Page title="Preparation">
  <div class="p-12">
    <h1 class="text-2xl">Preparation Processes</h1>
    <h3>Verdant believes in transparency about our preparation.</h3>
  </div>
</Page>