---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Restuarant Website</title>
  </head>
  <header>
    <Navbar />
  </header>
  <body>
    <h1>Restuarant Website</h1>

    <ul>
      <li>
        <a href="/process/">Process</a>
      </li>
      <li>
        <a href="/references/">References</a>
      </li>
      <li>
        <a href="/references/">References</a>
      </li>
    </ul>

    <h2>Farm</h2>
    <p>Our food is organically-grown by farms.</p>

    <h2>Served at Table</h2>
    <p>
      At the end of the process, the food is served at our fine dining area.
    </p>
  </body>

</html>
