---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Restuarant Website</title>
  </head>
  <body>
    <h1>References</h1>

    <ul>
      <li>
        <a href="/process/">Process</a>
      </li>
      <li>
        <a href="/references/">References</a>
      </li>
      <li>
        <a href="/references/">References</a>
      </li>
    </ul>

    <h2>Student Copyright Checklist</h2>

    <h2>Plan of Work Log</h2>

    <h2>Citations</h2>
    <p>Astro.js was the framework used to make the website.</p>
  </body>
</html>
