---
import Page from "../layouts/shared/Page.astro";
---

<Page title="References">
    <h1 class="text-2xl font-bold">References</h1>
    <h2 class="text-xl font-semibold">Documentation</h2>
    <h3 class="text-lg font-medium text-gray-700">Plan of Work Log</h3>
    <p>[INSERT PLAN OF WORK LOG]</p>
    <h3 class="text-lg font-medium text-gray-700">Student Copyright Checklist</h3>
    <p>[INSERT STUDENT COPYRIGHT CHECKLIST]</p>
    <h3 class="text-lg font-medium text-gray-700" id="bibliography">Bibliography</h3>
    <p>[INSERT BIBLIOGRAPHY]</p>
    <h2 class="text-xl font-semibold">References</h2>
    <h3 class="text-lg font-medium text-gray-700">Tools</h3>
    <p>The chosen frameworks used to develop this website are listed and attributed below.</p>
    <li>
        <ol>Astro.js</ol>
        <ol>Tailwind CSS</ol>
    </li>
    <h3 class="text-lg font-medium text-gray-700">Assertion of Originality</h3>
    <p>I hereby assert that all contents of this website, Verdant, was solely created by the team unless specified otherwise under <a href="#bibliography">Bibliography</a>.</p>
</Page>