---
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Name | References</title>
  </head>
  <header>
    <Navbar />
  </header>
  <body>
    <h1 class="text-2xl">References</h1>

    <h2 class="text-lg">Student Copyright Checklist</h2>

    <h2 class="text-lg">Plan of Work Log</h2>

    <h2 class="text-lg">Bibliography</h2>

    <h2 class="text-lg">Citations</h2>
    <p>
      The layout and structure of the website was developed using Astro.js,
      developed by the The Astro Technology Company. The styles and colors of
      the website was developed using Tailwind CSS, developed by Tailwind Labs
      Inc.
    </p>
  </body>


</html>
