---
import Page from "../layouts/shared/Page.astro";
---

<Page title="Verdant Eats">
    <h1 class="text-2xl">Verdant Eats</h1>
    <h3>Sign up to join our exclusive program of Verdant fanatics.</h3>
    <ul>
        <li>Enjoy the exclusive benefits.</li>
    </ul>
</Page>