<div class="flex w-100 bg-green-500">
  <a href="/processes/">
      <div
        class="bg-green-500 hover:bg-green-800 text-white px-5 py-3 transition-colors"
      >
        Processes
      </div>
  </a>
  <a href="/sustainability/">
      <div
        class="bg-green-500 hover:bg-green-800 text-white px-5 py-3 transition-colors"
      >
        Sustainability
      </div>
  </a>
  <a href="/blog/">
      <div
        class="bg-green-500 hover:bg-green-800 text-white px-5 py-3 transition-colors"
      >
        Blog
      </div>
  </a>
  <a href="/references/">
      <div
        class="bg-green-500 hover:bg-green-800 text-white px-5 py-3 transition-colors"
      >
        References
      </div>
  </a>
</div>
