---
import Button from "../../components/shared/Button.astro";
---

<section
  class="w-full h-screen flex flex-col justify-center items-center text-center bg-cover bg-center"
  style="background-image: url('/images/hero-bg.jpg');"
>
  <div class="bg-black bg-opacity-50 p-8 rounded-lg">
    <h1 class="text-5xl font-extrabold text-white">
      A Gold Standard of Vegan Fine-Dining
    </h1>
    <p class="mt-4 text-lg text-gray-300">
      Verdant offers over 500 dishes and exclusive access to fun and games.
    </p>
    <div class="mt-6 flex space-x-4 justify-center">
      <Button
        text="Reserve Table"
        class="bg-green-500 hover:bg-green-600 text-white py-2 px-4 rounded-lg"
      />
      <Button
        text="View Menu"
        class="bg-transparent border border-white text-white py-2 px-4 rounded-lg hover:bg-white hover:text-black"
      />
    </div>
    <div class="mt-6 flex items-center justify-center">
      <svg
        class="w-5 h-5 text-yellow-400 me-1"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 22 20"
      >
        <path
          d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"
        ></path>
      </svg>
      <p class="ms-2 text-sm font-bold text-white">4.98</p>
      <span class="w-1 h-1 mx-1.5 bg-gray-300 rounded-full"></span>
      <a
        href="#"
        class="text-sm font-medium text-gray-300 underline hover:no-underline"
        >9,534 reviews</a
      >
    </div>
  </div>
</section>
